body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; /* Center-aligns all text on the page */
}

header {
    background-color: red;
    color: white;
    padding: 15px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.section {
    padding: 20px;
}

.section h2 {
    color: #333;
	padding: none;
	border: 5px;
}

.service, .menu-category {
    
}

footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px auto; /* Center the image and add margin below it */
}

.menu-items, .sub-menu-items {
    display: none; /* Hide menu items and sub-menu items by default */
}

.menu-category button {
    cursor: pointer;
    background-color: #00227b;
	padding :10px 10px 10px 10px;
    border: 2px;
	border-radius:7px;
	border-color: red;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    /* color: #333; */
}
.menu-category .menu-items button{
    color: rgb(243, 9, 126);
	background: none;
}

.menu-category a:hover {
    text-decoration: underline;
}
.blue-text span{
    background-color: blue;
    color: white;
    border-radius: 10px;
}
.red-text span{
    background-color: red;
    color: white;
    border-radius: 10px;
}
.violet-text span{
    background-color: purple;
    color: white;
    border-radius: 10px;
}

